.user_section {
    /*background-color: #595959;*/
    /*display: flex;*/
}
.card {
    display: flex;
    background-color: #686363;
   /*grid-area: card;*/
}
.card_photo {
border-radius: 20px;
}
.card_description {
    width: 400px;
    color: white;

}
.card_item {
    padding: 10px 0 0px 40px;
}
.card_name {
    color:darkkhaki;
    font-size: 30px;
    font-family:"Sitka Display",sans-serif;
}