.users_section {
 
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: darkslategray;
    padding:10px;
}

.users_title {
   color: white;
}

.users_block {
      max-width:600px;
   display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.user_block {
    background-color: #686363;
    display: flex;
    color:white;
    margin: 5px;
    border-radius: 10px;
}

.follow_block {
    display: flex;
    flex-direction: column;
    align-items: center;

    width:100px;
    height: 130px;
}

.follow_image {
width: 80px;
    border-radius: 10px;
    margin: 5px 10px;
}
.follow_button {
border-radius: 5px;
    border: none;
    margin: 5px 0;
}
.user_info_block {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    width:100%;
    background-color: darkslateblue;
}

.user_name {
    text-align: center;
    align-self: center;
}
.user_message {
    grid-column: 1/3;
    grid-row-start: 3;
    text-align: center;
}
.user_country {
    grid-column: 3/4;
    text-align: center;
    align-self: end;
}
.user_city {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
  align-self: start;

}
.pagination {
    color:white;
}
.pagination span {
    cursor: pointer;
}
.selectedPage {
    font-weight: bolder;
margin:0 2px;
    color:red;

}