.preloader-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(117, 190, 218, 0.2);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader-img {
    width:100px;
    /*display: none;*/
}