.logo_block {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    /*margin-right: 200px;*/
}

.title {
    color: white;
    margin-left: 5px;
    text-shadow: 4px 5px 4px #686363;
}
