.messages_block {
    /*display: flex;*/
    padding: 10px 30px;
}

.messages {

}

.messages_item {
    margin-bottom: 8px;
    background-color: darkcyan;
    width: 500px;
    border-radius: 20px;
}

.message_image {
    width: 100px;
    border-radius: 100%;
}

.name {

}
