.messages_block {
    /*display: flex;*/
    padding: 10px 30px;
}

.messages {

}

.messages_item {
    margin-bottom: 8px;
    background-color: darkcyan;
    width: 500px;
    border-radius: 20px;
}

.message_image {
    width: 100px;
    border-radius: 100%;
}

.name {

}

.send_message_block {
    display: flex;
    align-items: center;
}
.textarea {
    width:250px;
    height:100px;
    flex-grow: 1;
    border: none;
    border-radius: 10px;
}
.send_button {
    width: 150px;
    height: 60px;
   border-radius: 10px;
    border: none;
    margin-left: 20px;
}