.container {
    max-width: 1200px;
    display: flex;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4B946A;
    grid-area: header;
}
/*--LOGO--BLOCK---*/

